body {
    background-color: rgb(83, 78, 86);
    text-decoration-color: aliceblue;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 50px;
}

.photo {
    width: 17vw;
    margin-left: 10%;
    margin-right: 10%;
    
}

.me {
    margin-left: 10%;
    margin-right: 10%;
}

.why {
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    margin-left: 10%;
    margin-right: 10%;
}

a {
    color: rgb(255, 40, 40);
}

.tech {
    float: left;
}

.resources {
    float: left;
}
